{% extends 'main/layout.html' %}

{% block body %}

	<div class="header">
		<div class="header-top">
	<h1>{{ title }}</h1>
	<p>excepteteur sint occaecat non proident</p><br>
	<a>START HERE <img src="../../static/main/img/arrow.png"></a></div>
	<div class="header-under"><span id="o1"><img src="../../static/main/img/img1.jpg">
	<h3>DUIS AUTE IPUE</h3>
	Exceptereur sint occaecat cupi datat non it proident, sint in culpa qui officia dese runtorn molit anim id ect laborum.</span>
	<span id="o2"><img src="../../static/main/img/img2.jpg">
	<h3>DUIS AUTE IPUE</h3>
	Exceptereur sint occaecat cupi datat non it proident, sint in culpa qui officia dese runtorn molit anim id ect laborum.</span>
	<span id="o3"><img src="../../static/main/img/img3.jpg">
	<h3>DUIS AUTE IPUE</h3>
	Exceptereur sint occaecat cupi datat non it proident, sint in culpa qui officia dese runtorn molit anim id ect laborum.</span></div></div>
	<div class="content">
		<div class="content-top">
		<img src="../../static/main/img/line1.png" class="line">
	<h3>SUNT IN CULPA QUIOFICIA DESERUNT MOLIT</h3>
	Exceptereur sint occaecat cupi datat non it proident, sint in culpa qui officia dese runtorn molit anim id ect laborum.<br>
	<img src="../../static/main/img/play.png" id="play">
	<img src="../../static/main/img/line1.png" class="line" id="line"></div>
	<div class="content-brand">
	<h4>RESENT WORK</h4>
	<img src="../../static/main/img/brand.jpg">
	<img src="../../static/main/img/brand.jpg">
	<img src="../../static/main/img/brand.jpg">
	<img src="../../static/main/img/brand.jpg">
	<a>Brand Project <img src="../../static/main/img/arrow.png" id="b1"></a></div>
	<div class="content-under">
	<h3>JOIN OUR SUSCRIBES</h3>
	<p>10 000 sint occaecat cupidatat non proident sint qui offica.</p><a>CLICK HERE TO SUBSCRIBE</a></div></div>
	<div class="footer-all">
		<div class="footer-top">

	<a href="#" id="l3"></a>
	<a href="#" id="l1"></a>
	<a href="#" id="l2"></a>
	<a href="#" id="l4"></a></div>
	<div class="footer">
	<table>
		<tr id="t1">
			<th>Location</th><th>Company</th> <th>Support</th><th>Minima</th></tr>
		<tr>
			<td>1401 South Grand Avenue</td><td>Our story</td><td>FAQ</td><td>Sed do eismod tempor incididunt ut</td>
		</tr>
		<tr>
			<td>Los Angeles, CA 90015</td><td>Mission</td><td>Contanct us</td><td>labore et dolore magna aliqua.</td>
		</tr>
		<tr>
			<td id="t2">(213) 748-2411</td><td>Journal</td><td>Policies</td><td>Template made by <a href="#">pixelhint.com</a></td>
		</tr>
		<tr>
			<td><a href="#">see it in the map</a><img src="../../static/main/img/arrow.png"></td><td>Careers</td>
		</tr>
	</table></div></div></div>
{% endblock %}